{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'measurement_styles.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="topnav">
  <a href="{% url 'main' %}">HOME</a> |
  <a href="{% url 'measurements' %}">MEASUREMENTS</a> |
  <a href="{% url 'testing'%}">TESTVIEW</a> 
</div>

{% block content %}
{% endblock %}

<div class="bottomnav">
  <p>Creative idea and logic by Tore Bjerkan | Styling by ChatGPT</p>
</div>

</body>
</html>